.featuredProducts{
    margin-top: 200px ;
    margin-bottom: 200px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 30px;

.top{
    display: flex;
    align-items: center;
    justify-content:space-between;
margin-bottom: 50px;
flex-wrap: wrap;
    h1{
        flex: 2;
        text-transform: capitalize;
    }

    p{
        flex: 3;
        color: gray;
    }
}

.bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
   
}
}